html{
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gluten", serif;
}
header {
  background: url("../imgs/home.jpg") center center/cover fixed no-repeat;
}
header .container{
  padding: 20px 10%;
  height: 100vh;
}
header .container nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
}

header .container nav img{
  width : 50px;
  border-radius: 50px;
  margin-top: -10px;
}
header .container nav li{
  list-style: none;
  display: inline-block
}
header .container nav li a{
  text-decoration: none;
  margin: 10px;
  font-weight: 600;
  position: relative;
  color : #fff;
  z-index: 10;
}
header .container nav li a::before{
  content: '';
  width : 100%;
  height: 0px;
  text-align: center;
  background: rgb(0,255,255,0.6);
  position : absolute;
  left : -10px;
  bottom: -5px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: height 0.5s;
  padding: 0 8px;
  z-index: -1;
}
header .container nav li a:hover{
  color : black;
  cursor: pointer;
}
header .container nav li a:hover::before{
  height: 85px;
}
header .container #home h1{
  margin : 13vh 0px 0;
  color : #fff;
  font-weight: 300;
}
header .container #home span{
  color : aquamarine;
  font-weight: 200;
}
header .container #home h2{
  font-weight: 300;
}
header .container #home h2 .h2{
  font-size: 35px;
}
header .container #home {
  line-height: 1.7;
}
header .container #home h2{
  color : #fff;
  margin-bottom: 28vh;
  
}
header .container #home p{
  color :#fff;
  text-align: center;
  font-weight: 300;
}
#about {
  height: 80vh;
  background: url("../imgs/about-bg.jpg")center center/cover ;
  padding: 25px 8px;
}
#about img{
  width : 25vh;
  border-radius: 30px;
  box-shadow: 5px 1px 100px rgba(244,244,244,0.6);
}
#about .container{
  display: flex;
}
#about .title , #education .title ,#gallery .title,#contact .title{
  text-align: center;
  margin-bottom: 100px;
  color : #fff;
}
#about .title h2, #gallery .title h2 ,#contact .title h2{
  padding-right: 50px;
  padding-left: 50px;
  font-weight: 200;
}
#about .title h2 span , #gallery .title h2 span, #contact .title h2 span{
  font-size: 40px;
  font-weight: 700;
  color : wheat;
}
#about .title p, #education .title p , #gallery .title p,#contact .title p{
  font-weight: 200;
  font-size: 12px;
  margin-top: 15px;
}
#about .container p{
  color :#fff;
  margin-top: 10vh;
  text-align: left;
  font-weight: 200;
  
}
#education {
  height: 100vh;
  background: url("../imgs/edu-bg.png")center center/cover fixed no-repeat;
  position : relative;
}
#education::before{
  content:"";
  width :100%;
  height: 100%;
  top : 0;
  left : 0;
  position : absolute;
  background: rgb(0,0,0,0.3);
  z-index: -1;
}
#education{
  z-index: -2;
}
#education .edu{
  text-align: center;
  line-height: 2;
  margin-top: 30px;
  display: block;
  color : #fff;
}
#education .title h2{
  padding-top :20px;
}
#education .edu h2 span , #education .title span{
  color : rgb(189,159,126,0.9);
  font-size: 40px;
  font-weight: 700;
}
#education .edu h2 ,#education .title h2{
  font-weight: 300;
}
#education .edu p{
  font-weight: 200;
}
#skills{
  height: 80vh;
  background: url("../imgs/about-bg.jpg")center center/cover ;
  position : relative;
}
#skills .title {
  text-align: center;
  padding: 25px 0;
  color : white;
}
#skills .title .sp1{
  font-size: 40px;
  font-weight: 700;
  color : rgb(24,53,93);
}
#skills .title .sp2{
  font-size: 40px;
  font-weight: 700;
  color : rgba(75,123,110);
}
#skills .title .sp3{
  font-weight: 200;
  color : rgba(194,118,23);
}
#skills .title .sp4{
  font-weight: 200;
  color : rgba(152,159,93);
}
#skills .title p{
  font-size: 12px;
  font-weight: 200;
  margin-top: 15px;
}
#skills .skill{
    background :cyan ;
    color : wheat ;
    padding : 10px ; 
    border-radius : 10px;
    text-align : center;
    width :120px;
  height: 120px;
  padding: 50px 0;
  position : absolute;
}
#skills .one {
  background: url("../imgs/photography.png")center center/cover no-repeat;
  bottom: 5vh;
  left : 10vh;
  box-shadow: 5px 10px 50px rgba(24,53,93);
  color : white;
  font-weight: 700;
  padding: 40px 0;
}
#skills .two{
  background: url("../imgs/programming.png")center center/cover no-repeat;
  bottom:  35vh;
  right :10vh;
  box-shadow: 5px 10px 50px rgba(75,123,110);
  font-weight: 700;
  color : whitesmoke;
  padding: 40px 0;
}
#skills .three {
  background: url("../imgs/creativity.png")center center/cover no-repeat;
  bottom : 25vh;
  left : 10vh;
  box-shadow: 5px 10px 50px rgba(194,118,23);
  font-weight: 700;
  color : white;
  padding: 40px 0;
}
#skills .four {
  background: url("../imgs/photoshop.png")center center/cover no-repeat;
  bottom : 15vh;
  right :10vh;
  box-shadow: 5px 10px 50px rgba(152,159,93);
  font-weight: 700;
  color : white;
  padding: 35px 0;
}
#gallery{
  height: 250vh;
  width : 100%;
  padding : 10px;
  background: url("../imgs/gallery-bg.jpg")center center/cover fixed no-repeat;
}

#gallery .imgs {
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}
#gallery .imgs img{
  width : 140px;
  margin :15px;
  border-radius: 20px;
}
#contact{
  height: 80vh;
  background:url("../imgs/g4+.jpg")center center/cover no-repeat;
  position : relative;
}
#contact {
  z-index: -2;
}
#contact::before{
  content: "";
  width : 100%;
  height: 100%;
  background: rgb(0,0,0,0.5);
  position : absolute;
  z-index: -1;
}
#contact .container{
  display: flex;
}
#contact .container form{
  display: block;
  margin : 10px;
}
#contact .container form input{
  background-color: wheat;
  margin : 15px;
  border-radius: 5px;
  padding : 5px 10px;
}
#contact .container form textarea{
  margin :15px;
  border-radius: 15px;
  padding : 5px 10px;
  background-color: wheat;
}
#contact .container form .btn{
  padding :15px 30px;
  border-radius: 15px;
  margin: 15px;
  background-color: #e3e2dd;
  color : black;
}
#contact .container .sm-links{
  margin: 5px;
  padding: 5px;
}
#contact .container .sm-links h3{
  font-size: 30px;
  font-weight: 300;
  color : whitesmoke;
  }
#contact .container .sm-links a{
  display: block;
  width : 20px;
  margin: 15px;
  padding: 10px;
}
#footer {
  background: #383848;
  text-align: center;
  color: #fff;
  padding: 5px 0;
  font-size: 12px;
  font-weight: 400;
}
#footer a{
  text-decoration: none;
  color : aquamarine;
  font-weight: 700;
}
